<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">



<mapper namespace="com.nasoft.aboutcar.JcfxTaskMapper">

	<resultMap id="JcfxTaskResultMap" type="com.nasoft.aboutcar.report.domain.JcfxTask">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dataCode" column="data_code" jdbcType="VARCHAR"/>
        <result property="dataSql" column="data_sql" jdbcType="VARCHAR"/>
        <result property="taskAt" column="task_at" jdbcType="VARCHAR"/>
        <result property="params" column="params" jdbcType="VARCHAR"/>
        <result property="sortNo" column="sort_no" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	   
		id,data_code,data_sql,task_at,params,sort_no,create_user,create_time,update_user,update_time
	   
	</sql>

	<insert id="insertIfNotnull"   parameterType="com.nasoft.aboutcar.report.domain.JcfxTask">
		<selectKey   keyProperty="id"  resultType="java.lang.Integer">  
		SELECT LAST_INSERT_ID()  
	  </selectKey>
        INSERT INTO jcfx_task 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="dataCode != null">
        		data_code ,
			</if>
			<if test="dataSql != null">
        		data_sql ,
			</if>
			<if test="taskAt != null">
        		task_at ,
			</if>
			<if test="params != null">
        		params ,
			</if>
			<if test="sortNo != null">
        		sort_no ,
			</if>
			<if test="createUser != null">
        		create_user ,
			</if>
			<if test="createTime != null">
        		create_time ,
			</if>
			<if test="updateUser != null">
        		update_user ,
			</if>
			<if test="updateTime != null">
        		update_time ,
			</if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="dataCode != null">
        		#{dataCode, jdbcType=VARCHAR} ,
			</if>
			<if test="dataSql != null">
        		#{dataSql, jdbcType=VARCHAR} ,
			</if>
			<if test="taskAt != null">
        		#{taskAt, jdbcType=VARCHAR} ,
			</if>
			<if test="params != null">
        		#{params, jdbcType=VARCHAR} ,
			</if>
			<if test="sortNo != null">
        		#{sortNo, jdbcType=VARCHAR} ,
			</if>
			<if test="createUser != null">
        		#{createUser, jdbcType=INTEGER} ,
			</if>
			<if test="createTime != null">
        		#{createTime, jdbcType=TIMESTAMP} ,
			</if>
			<if test="updateUser != null">
        		#{updateUser, jdbcType=INTEGER} ,
			</if>
			<if test="updateTime != null">
        		#{updateTime, jdbcType=TIMESTAMP} ,
			</if>
		</trim>
    
		
	</insert>
    
	<update id="updateIfNotnull"  parameterType="com.nasoft.aboutcar.report.domain.JcfxTask">
    
        UPDATE jcfx_task
			<set>
				<if test="dataCode != null">
					data_code = #{dataCode, jdbcType=VARCHAR} ,
				</if>
				<if test="dataSql != null">
					data_sql = #{dataSql, jdbcType=VARCHAR} ,
				</if>
				<if test="taskAt != null">
					task_at = #{taskAt, jdbcType=VARCHAR} ,
				</if>
				<if test="params != null">
					params = #{params, jdbcType=VARCHAR} ,
				</if>
				<if test="sortNo != null">
					sort_no = #{sortNo, jdbcType=VARCHAR} ,
				</if>
				<if test="createUser != null">
					create_user = #{createUser, jdbcType=INTEGER} ,
				</if>
				<if test="createTime != null">
					create_time = #{createTime, jdbcType=TIMESTAMP} ,
				</if>
				<if test="updateUser != null">
					update_user = #{updateUser, jdbcType=INTEGER} ,
				</if>
				<if test="updateTime != null">
					update_time = #{updateTime, jdbcType=TIMESTAMP} ,
				</if>
			</set>
        WHERE 
	        id = #{id, jdbcType=INTEGER} 
    
	</update>

    <delete id="deleteById">
    
        DELETE FROM jcfx_task WHERE
        id = #{id } 
    
    </delete>
    
    
    <delete id="delete">
    
        DELETE FROM jcfx_task WHERE
        
    </delete>
    
		<select id="selectById" resultMap="JcfxTaskResultMap">
			SELECT <include refid="columns" />
		   
				FROM jcfx_task 
				WHERE 
					id = #{id, jdbcType=INTEGER} 
			
		</select>
	
	<sql id="selectList_where">
		<where>	      				
	       <if test="id != null">
		 		 		AND id = #{id, jdbcType=INTEGER}
			</if>
	       <if test="dataCode != null">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(dataCode,'like')">
		 	   	  	   AND data_code ${dataCode }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND data_code = #{dataCode, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="dataSql != null">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(dataSql,'like')">
		 	   	  	   AND data_sql ${dataSql }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND data_sql = #{dataSql, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="taskAt != null">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(taskAt,'like')">
		 	   	  	   AND task_at ${taskAt }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND task_at = #{taskAt, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="params != null">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(params,'like')">
		 	   	  	   AND params ${params }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND params = #{params, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="sortNo != null">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(sortNo,'like')">
		 	   	  	   AND sort_no ${sortNo }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND sort_no = #{sortNo, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="createUser != null">
		 		 		AND create_user = #{createUser, jdbcType=INTEGER}
			</if>
	       <if test="createTimeBegin != null">
				AND create_time >= #{createTimeBegin }
		   </if>
		   <if test="createTimeEnd != null">
				AND create_time &lt;= #{createTimeEnd }
		   </if>
	       <if test="updateUser != null">
		 		 		AND update_user = #{updateUser, jdbcType=INTEGER}
			</if>
	       <if test="updateTimeBegin != null">
				AND update_time >= #{updateTimeBegin }
		   </if>
		   <if test="updateTimeEnd != null">
				AND update_time &lt;= #{updateTimeEnd }
		   </if>
		</where>
	</sql>
		
    <select id="selectListCount" resultType="long">
        SELECT count(*) FROM jcfx_task 
		<include refid="selectList_where"/>    
    </select>
    
   
    <select id="selectList" resultMap="JcfxTaskResultMap">
    	SELECT <include refid="columns" />
	    FROM jcfx_task 
		<include refid="selectList_where"/>
		
		
    </select>
    
    <resultMap type="java.util.HashMap" id="JcfxTaskResultToMap">
    	
    </resultMap>
    <select id="getVertical" resultMap="JcfxTaskResultToMap">
    	SELECT <include refid="columns" />
	    FROM jcfx_task 
		<include refid="selectList_where"/>
    </select>

	
	<select id="findCompany" resultType="java.util.HashMap">
		select creditcode,comname from xzsp_com_companyinfo
	</select>
	
	<select id="selectSql" resultType="java.util.HashMap">
		${sql}
	</select>
	
	<insert id="executeSql">
		${sql}
	</insert>
	
</mapper>

