@CHARSET "UTF-8";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
	{
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
	word-wrap: break-word
}
.ace-checkbox-2{
	width:13px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
	input[type="datetime-local"], input[type="date"], input[type="month"],
	input[type="time"], input[type="week"], input[type="number"], input[type="email"],
	input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
	.uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 30px;
	padding: 4px 6px;
	margin-top:3px;
	margin-bottom: 3px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input,select,textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input, textarea, .uneditable-input {
	width: 157px;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

address,cite,dfn,em,var,i,u {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new, courier, monospace
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}


table {
	border-collapse: collapse;
	border-spacing: 0
}

caption
.ovh {
	overflow: hidden
}

.l {
	float: left
}

.r {
	float: right
}

.cur {
	cursor: pointer
}

.c_b {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
	font-size: 0px;
	overflow: hidden;
	visibility: hidden
}

.c_b2 {
	clear: both
}

.dn {
	display: none
}

.dis {
	display: block
}

.b {
	font-weight: bold
}

body {
	behavior: url("../css/hover_htc.htc");
	font-family: "Microsoft YaHei", 宋体;
	color: #333;
} /*hover*/

/*会员注册*/
.login ul { /*background:url(../images/line.png) repeat-x;*/
	padding-top: 10px;
	border-top: 1px solid #fff
}

.login ul a {
	color: #005cb1
}

.login .id input,.login .pw input,.in_id,.in_mo,.reg_input,.reg_input_pic
	{
	background-color: #FFF;
	border: 1px solid #d5cfc2;
	font-size: 14px;
	vertical-align: middle;
	padding-left: 5px;
}

.login .id input,.login .pw input {
	width: 170px;
	height: 30px;
	margin: 0 5px 5px 0;
	line-height: 30px;
	padding: 0 5px;
}

.login .id input:hover,.login .pw input:hover,.in_id:hover,.in_mo:hover,.reg_input:hover,.reg_input_pic:hover
	{
	border: 1px solid #005cb1;
	background-color: #F2FAFF;
}

.reg_textarea {
	_behavior: url(js/Round_htc.htc);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid #d5cfc2;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	vertical-align: middle;
	padding-left: 5px;
}

.reg_textarea:hover {
	border: 1px solid #005cb1;
	background-color: #F2FAFF;
}

.l_button,.r_button {
	background: url(../images/login_button.png) no-repeat;
	width: 118px;
	height: 39px;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	text-indent: -9000px
}

.l_button {
	background-position: 0 -60px;
}

.r_button {
	background-position: -138px -60px;
	margin-right: 4px
}

.l_button:hover {
	background-position: 0 0;
}

.r_button:hover {
	background-position: -138px 0;
}

.f_reg_but {
	margin: 10px 0 0 115px
}

.reg {
	width: 460px;
	font-size: 14px;
	line-height: 25px;
	overflow: hidden;
}

.reg dl {
	padding-left: 10px;
	font-size: 14px;
}

.reg dl dt {
	margin-top: 15px
}

.reg dl dd {
	padding: 3px 0
}

.reg .title {
	width: 100px;
	display: inline-block;
	text-align: right;
	padding-right: 10px
}

.reg_input_pic {
	width: 80px;
}

.in_pic_s {
	margin-left: 83px
}

.reg .img {
	position: absolute
}

.onShow,.onFocus,.onError,.onCorrect,.onLoad {
	background: url(../images/reg_bg.png) no-repeat 3000px 3000px;
	padding-left: 30px;
	font-size: 12px;
	height: 25px;
	min-width: 197px;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: 6px
}

.onShow {
	color: #999;
	padding-left: 0px
}

.onFocus {
	background-position: 0px -30px;
	color: #333
}

.onError {
	background-position: 0px -60px;
	color: #333
}

.onCorrect {
	background-position: 0px 0;
	text-indent: -9000px
}

.onLoad {
	background-position: 0px 0
}

.reg_m {
	margin-left: 90px
}

.clew_txt {
	display: inline-block;
	padding: 7px 0 0 15px;
	font-size: 12px;
}

.clew_txt a {
	color: #0000FF;
}

.clew_txt a:hover {
	color: #00479d;
}

.id input,.pw input,.in_id,.in_mo,.reg_input,.reg_input_pic {
	_behavior: url(js/Round_htc.htc);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
}

.user_button a,.pay_but {
	_behavior: url(js/Round_htc.htc);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#one1,#one2 {
	display: block;
	background-color: #e9eed8;
	padding: 5px 0;
	text-align: center;
	clear: both;
	cursor: pointer
}

#one2 {
	margin-top: 15px
}

#one1:hover,#one2:hover {
	background-color: #d4dfb0
}

#one1 span,#one2 span {
	color: #F00
}

.fontStyle1 {
	font-family: 'Microsoft YaHei';
	font-size: 14px
}

.fontStyle2 {
	font-family: 'Microsoft YaHei';
	font-size: 18px
}

/*******checkbox css*******/
.chk_1,.chk_2,.chk_3,.chk_4 {
	display: none;
}

.chk_1+label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 8px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	margin-top: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}

.chk_1+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.chk_1:checked+label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked+label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}

.input-text {
	height: 23px;
	width: 315px;
	line-height: 23px;
	vertical-align: middle;
	background: #FAFBFD;
	border: 1px solid #d4d4d4;
}

.link-btn {
	width: 78px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	background: url('./images/btn.png') 0 -110px;
	color: #6d767f;
	text-decoration: none;
}

.file-uploader-wrap {
	position: relative;
	width: 405px;
	height: 27px;
	margin-top: 20px;
}

.file-uploader-wrap-fake {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 27px;
	_display: none;
}

.file-uploader-wrap .file-uploader {
	position: relative;
	width: 400px;
	height: 27px;
	text-align: right;
	filter: alpha(opacity =   0);
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	_filter: none;
	_text-align: left;
	_line-height: 27px;
}

/*******上传控件 css*******/
.box {
	position: relative;
	float: left;
}

input.uploadFile {
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
	width: 276px;
	height: 27px;
	overflow: hidden;
}

input.file_textbox {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 222px;
	_behavior: url(js/Round_htc.htc);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid #d5cfc2;
	font-size: 14px;
	vertical-align: middle;
	padding-left: 5px;
	margin-right: 4px;
}

.upload_link {
	float: left;
	display: inline-block;
	padding: 4px 16px;
	color: #fff;
	font: 14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
	cursor: pointer;
	background-color: #0099ff;
	line-height: 20px;
	text-decoration: none;
}